.App {
  text-align: center;
}

.nav-item{
  background-color: #274C77;;
  height: 40px;
  padding: 8px;
  color: #FAFAFA;
  text-decoration: none;
}

.Navbar{
  width: 200px;
  height: 655px;
  float: left;
  border-right: solid 1px black;
}


.button_active{
  background-color: #FAFAFA;
  color: #274C77;
}

.form_container{
  padding-top: 25px;
}

.label-text{
  margin-right: 100px;
  width: 150px;
}

.heading {
  font-size: 22px;
  text-align: center;
}

.containerDiv{
  border: 1px solid black;
  height: 200px;
  width: 350px;
  padding: 15px;
  text-align: center;
}

.colContainer{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.divHeading {
  border-bottom: solid 1px black
}